DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mydb?schema=public"
FAKEER_SEED=hoge
# openssl rand -base64 32  # 32文字のランダムな文字列を生成
JWT_SECRET=


POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DBNAME=mydb

# ローカル開発用HTTPサーバー接続を有効にする（開発環境のみ）
VITE_ENABLE_LOCAL_HTTP=true


